body {
    font-family: sans-serif;
    line-height: 1.4;
    padding: 20px 20px 40px;
}

h1 {
    margin: 10px 0;
}

.list{
    margin: 20px 0;
    border-top: 1px solid rgba(0,0,0,.15);
}

.item {
    padding: 14px 20px;
    border-top: 1px solid rgba(255,255,255,1);
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.item h2 {
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    margin: 2px 0;
}

.link.belowcontent {
    margin-top: 20px;
    display: inline-block;
}